<td class="first">Mar 2022 - Today</td>
<td class="second">
    <b>Slido (Cisco) - Senior Software Engineer</b>
    <ul>
        <li>
            <i>Front End development</i>
            <ul>
                <li>Nx Monorepo</li>
                <li>Typescript</li>
                <li>Angular 16</li>
                <li>React</li>
                <li>Redux</li>
                <li>Cypress</li>
            </ul>
        </li>
        <li>
            <i>Back End development</i>
            <ul>
                <li>Typescript</li>
                <li>Node.js</li>
            </ul>
        </li>
    </ul>
</td>
