body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.0;
}

h1 {
	color: $main;
	font-size: 2.0em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 1.5em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

#photo-placeholder {
	width:20vmax;
        height:20vmax;
	float: left;
       	background-color: white;
       	border-radius: 50%;
	border: 5px solid white;
       	background-size: cover;
       	background-position: center;
	background-image: url("/john.konstas/images/profile_pic.jpg");	
	margin: 0 auto;
}


#baseurl-placeholder {
        float:left;   
	max-width: 50%;
	margin: 0 auto;
}

.article-wrapper {
	padding:5%;
}

header {
	background: $header;
	padding: 15px;
	text-align: center;
	margin: 50px 0 0;
	max-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
                        li.active a {
				background: $header;
			}
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;                                      
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 5%;
        border-top: 1px solid #e8e8e8;
	background-color:aliceblue;
        .wrapper {
		
		.footer-heading {
			font-size: 18px;
			margin-bottom: 15px;
			color:#425469;
			font-family: "Muli", sans-serif;
			font-weight:800;
   		}
		.contact-details {
			font-size: .8em;
    			display: flex;
    			flex-direction: row;
				a:hover {
					color:black;
				}			
                }
                .footer-item {
			display: flex;
    			flex-direction: column;
			margin: 0 auto;
		 }
                .social div {
			display: flex;
    			flex-direction: row;
    			align-items: center;
    			justify-content: space-between;
		}
                .contact-list {
			list-style: none;
			margin-left: -39px;
                }
        }
       
}

form.contact-jk textarea[type="text"] {
    width: 100%;
    vertical-align: middle;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: $heading-font;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.contact-jk input[type="text"] {
    width: 50%; 	   
    vertical-align: middle;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: $heading-font;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.contact-jk input[type="submit"] {
    outline: none;
    color: white;
    background-color: #2e83e6;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.25em 0 0 0;
    border: 1px solid transparent;
    height: auto;
}
