<div class="cv-table" style="overflow-x:auto;">
   <table>
      <tr>
         <th>Years</th>
         <th>School</th>
      </tr>
      <tr>
         <td>2003 - 2009</td>
         <td>Graduated from Department of Computer Engineering & Informatics of
         Polytechnic School of University of Patras. Diploma’s grade: 6.6/10</td>
      </tr>
      <tr>
         <td>2012 - 2014</td>
         <td>M.Sc. in Information Systems in Athens University of Economics and
            Business. <a href="https://drive.google.com/file/d/0B1_C4VJq7UpgdjlUa0UyQjJJMHM/view">Master Thesis</a>: Implementation of an Identity-Based Proxy Re-
            Encryption scheme applied to a file system application.
         Master’s grade: 7.8/10</td>
      </tr>
   </table>
</div>