<div class="cv-table" style="overflow-x:auto;">
   <table>
      <tr>
         <th>Language</th>
         <th>Qualifications</th>
      </tr>
      <tr>
         <td>English</td>
         <td>Proficient user: C1 <br>
            IELTS (Academic) overall score: 7/9,<br>
            Diploma: First Certificate in English University of Cambridge.<br>
         </td>
      </tr>
      <tr>
         <td>French</td>
         <td>Independent user: B2 <br>
            Diploma: Diplome Elementaire de la Langue Francaise.
         </td>
      </tr>
   </table>
</div>