<div class="cv-table" style="overflow-x:auto;">
	<p>
		Motivated and versatile IT professional, experienced in web technologies, designing/developing
		software applications while being familiar with Conceptual Modelling and UML. Possesses first-rate
		communications skills to collaborate on all business levels while effectively dealing with the analysis
		of complex technical issues.
		<br><br>
		Team player, eager to contribute in implementation of demanding projects, seeks the next big career
		challenge and an opportunity to apply his knowledge and expertise on a larger scale.
	</p>
</div>