<div class="cv-table" style="overflow-x:auto;">
	<p>
		<b>"Continuously Improving • Problem Solver • Quick Learner"</b>
		<br><br>
		Senior Software Engineer with strong expertise in various architectures, including Monoliths, Distributed Transactions,
		Microservices, and the Saga pattern. Demonstrates proficiency in designing and developing full-stack web applications,
		using Conceptual Modelling and UML. Combines robust communication skills with effective analysis
		of complex technical issues. Committed to continual learning and improvement.
	</p>
</div>
