<td class="first">July 2011 - August 2013</td>
<td class="second">
	<b>CyberStream Ltd. - Junior Software Engineer</b>
	<ul>
		<li><i>Design and Development of Europass Mobility web application for National Organization for the
Certification of Qualifications & Vocational Guidance</i>
			<ul>
				<li>Design of the application's Domain Model using IBM Software Architect (UML use cases, class/sequence diagrams)</li>
				<li>Development of the application under MVC scope (CAS Single-Sign-On, J2EE [JSF, Servlets], Spring, Hibernate, RichFaces 4)</li>
				<li>Development of Print functionality (Jasper Reports)</li>
			</ul>
		</li>
		<li><i>Development for a number of applications using the DSPlay Technologies stack (e.g. weather
application for Tatoi Tennis Club, file synchronization app for Carrefour S.A. etc.</i>
			<ul>
				<li>Java SE 5-6</li>
				<li>J2EE (JSF)</li>
				<li>Spring</li>
				<li>Hibernate</li>
				<li>RichFaces</li>
			</ul>
		</li>
		<li><i>Development for the portal of IEK Domi Educational Association</i>
			<ul>
				<li>Liferay 5.x CE (themes, hooks, layouts and ext plugins)</li>
				<li>Java SE 5-6</li>
				<li>JSP, XML, HTML, CSS</li>
				<li>Javascript / jQuery</li>
			</ul>
		</li>
	</ul>
</td>
