<td class="first">May 2014 - June 2017</td>
<td class="second">
	<b>Eworx S.A. - Software Engineer</b>
	<ul>
		<li>
			<i>Implementation of a Cloud Login functionality in <a href="https://europass.cedefop.europa.eu/editors/en/cv/compose">europass cv editor</a></i>
			<ul>
				<li>Javascript / Backbone.js / jQuery / Google Drive API</li>
			</ul>
		</li>
		<li>
			<i>Developed session-less but stateful architecture for <a href="https://europass.cedefop.europa.eu/editors/en/cv/compose">europass cv editor</a></i>
			<ul>
				<li>Javascript / Backbone.js / jQuery</li>
				<li>Java SE 8 / Java EE (JAX-RS [Jersey]), Google Guice</li>
				<li>Maven</li>
				<li>Jackson API (marshalling/unmarshalling)</li>
			</ul>
		</li>
		<li>
			<i>Design and Development for new features in Projx (Project Management j2ee application)</i>
			<ul>
				<li>Java SE 7-8</li>
				<li>J2EE (Servlets, JSP/JSTL)</li>
				<li>Hibernate</li>
				<li>Javascript / jQuery</li>
			</ul>
		</li>
		<li>
			<i>Development and Configuration/Setup of an intranet <a href="https://fishnet.efca.europa.eu/">portal</a> for EFCA organization</i>
			<ul>
				<li>Liferay 6.2 CE (portlets, themes, hooks, Service Builder)</li>
				<li>Development of a custom Audit Trails portlet using Liferay's Service Builder, Inter-portlet communication and Model Listeners</li>
			</ul>
		</li>
		<li>
			<i>Extension of Projx (Project Management j2ee application) in order to integrate with Microsoft Project Server</i>
			<ul>
				<li>Restful client (JAX-RS [Jersey]) consuming MS Project Server's REST API</li>
			</ul>
		</li>
	</ul>
</td>
