<td class="first">Mar 2021 - Feb 2022</td>
<td class="second">
    <b>Sword Group S.A. - Team Lead / Tech Lead in EU-LISA project</b>
    <ul>
        <li>
            <i>Development and Tech Leading in Interoperability (Greenfield)</i>
            <ul>
                <li>Java 11</li>
                <li>Spring Boot, Microservices</li>
                <li>Kafka</li>
                <li>gRPC</li>
            </ul>
        </li>
    </ul>
    <b>Sword Group S.A. - Senior Software Engineer / Deputy Tech Lead in EU-LISA project</b>
    <ul>
        <li>
            <i>Development of the ETIAS web application (Greenfield)</i>
            <ul>
                <li>React</li>
                <li>Redux</li>
                <li>Typescript</li>
                <li>Node.js</li>
            </ul>
        </li>
        <li>
            <i>Development of the ETIAS API (Greenfield)</i>
            <ul>
                <li>Java 11</li>
                <li>Spring Boot, Microservices</li>
                <li>PostgreSQL</li>
            </ul>
        </li>
    </ul>
</td>
