<td class="first">May 2017 - July 2019</td>
<td class="second">
 <b>Hellenic Exchanges S.A. - Senior Software Engineer</b>
 <ul>
  <li>
    <i>Development on the front-end web application for the Energy Exchange Group</i>
    <ul>
      <li>
        Angular 6 / Typescript
      </li>
    </ul>
  </li>
  <li>
    <i>Implementation of the REST APIs for the Energy Exchange Group</i>
    <ul>
      <li>Java SE 8</li>
      <li>Apache CXF</li>
    </ul>
  </li>
  <li><i>Turning the build mechanism of the REST APIs infrastructure, for the Energy Exchange project, from Ant to Maven</i>      
  </li>
  <li><i>Transformation of the Foreign Exchanges Feed Server to be compatible with new Feed Providers, resulting into more than 50% cost reduction</i>
    <ul>
      <li>Java SE 7 (Socket Programming, multi-threading)</li>
    </ul> 
  </li>
  <li><i>Development of a <a href="http://desfa.xoas.inbroker.gr/Gas">web client</a> (GAS Auctions Platform) for DESFA</i>
    <ul> 
     <li>Angular 5 / Typescript</li>
     <li>Java REST end-points (JAX-RS / CXF)</li>
   </ul>
 </li>
 <li><i>Development of features/bug fixes for the Desktop client application of the company</i>
   <ul>
    <li>Java SE 8 (multi-threading, swing)</li>
  </ul>
</li>
<li>
  <i>Development of the MIFID-II standards for the InBroker platform</i>
  <ul>
   <li>Java SE 6-7 (multi-threading, Socket Programming and prepared statements) / MS SQL</li>
 </ul>
</li>
</ul>
</td>
