<td class="first">Jul 2019 - Feb 2021</td>
<td class="second">
	<b>Trasys International / NRB S.A. - Fullstack Engineer</b>
	<ul>
		<li>
			<i>Development of the IUCLID6 (ECHA) web application</i>
			<ul>
				<li>Angular 6 - 9</li>
				<li>redux / ngrx</li>
				<li>RxJS</li>
				<li>Node.js, Express, nx (nrwl)</li>
			</ul>
		</li>
		<li>
			<i>Resolving performance issues on the backend of IUCLID 6</i>
			<ul>
				<li>Java SE 8 (lambdas, streams, maps)</li>
				<li>JPA with Querydsl</li>
			</ul>
		</li>
	</ul>
</td>
