<td class="first">July 2019 - Today</td>
<td class="second">
	<b>Trasys International / NRB S.A. - Senior Software Engineer</b>
	<ul>
		<li>
			<i>Resolving performance issues on the backend of IUCLID 6</i>
			<ul>
				<li>Java SE 8 (lambdas, streams, maps)</li>
				<li>JPA with Querydsl</li>
			</ul>
		</li>
		<li>
			<i>Development on the frontend of IUCLID 6</i>
			<ul>
				<li>
					<i>Integration of Angular Material tables</i>
					<ul>
						<li>Angular 6</li>
						<li>redux / ngrx</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</td>